<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QRCODE_BARIDA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="QRCODE_BARIDA.Properties.Settings.qrcodeConnectionString"
            connectionString="Data Source=DESKTOP-025GGVD\WINCC;Initial Catalog=qrcode;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QRCODE_BARIDA.Properties.Settings.qrcodeBaridaConnectionString"
            connectionString="Data Source=DESKTOP-025GGVD\WINCC;Initial Catalog=qrcodeBarida;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <QRCODE_BARIDA.Properties.Settings>
            <setting name="DbConn" serializeAs="String">
                <value>Data Source=DESKTOP-025GGVD\WINCC;Initial Catalog=qrcodeBarida;Integrated Security=True</value>
            </setting>
        </QRCODE_BARIDA.Properties.Settings>
    </applicationSettings>
</configuration>